
<div class="page-header">
  <div class="pull-right">
  <%= link_to 'Edit', edit_message_path(@message), class: 'btn btn-info' %>
</div>
  <h1>New Valentine's Message</h1>
</div>
<br />
<br />

<% render 'form' %>
